.selectize-input {
    min-height: 50px;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  line-height: 40px;
}

.item {
  font-size: larger;
}

h2, .h2 {
  text-align: center;
}

/* This is not applied for some reason */
.img-responsive, .img-rounded, .show-poster {
  max-height: 250px;
}

/* Neither is this :( */
#show_seasons_table {
  margin-left: auto;
}

.datatables .html-widget .html-widget-output {
    margin-left: auto;
}

.table th {
   text-align: center;
}

/* Nope
.center~ th , .center {
    border-bottom: #ECF0F1;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

Also nope
.second-header {
    border-bottom: #ECF0F1;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
This workd though */
#secondhead {
    border-bottom: #ECF0F1 3px solid;
}
